body, *{
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
body{
    padding: 0 10px;
}
._container{
    padding: 50px 0px;
    max-width: 1010px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-bottom: 1px solid #dcdcde;
}
textarea{
    resize: vertical;
}
option{
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(62, 106, 255, 0.55) !important;
    border: 1px solid rgb(62, 106, 255) !important;
}
.title{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(31, 34, 44);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-top: 71px;
    margin-bottom: 21px;
}
.forms{
    z-index: 3;
}
.name{
    margin-bottom: 29px;
    font-size: 20px;
    color: rgb(179, 179, 179);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2; 
}
.forms__input{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #cccccc;
    transition: .3s all linear;
}
.forms__input:focus-visible, .forms__input:hover{
        border-style: solid;
        border-width: 1px;
        border-color: rgb(62, 106, 255);
        border-radius: 3px;
        box-shadow: 0px 0px 5px 0px rgba(62, 106, 255, 0.55);
}
.sel select{
    padding-right: 15px;
    cursor: pointer;
    appearance: none;
}
.sel{
    position: relative;
}
.sel::before{
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    bottom: 50%;
    transform:translateY(60%);
    right: 14px;
    width: 9px;
    height: 5px;
    background-image: url('../img/arr.png'); 
    background-repeat: no-repeat;   
}
select:focus-visible, select:hover{
    border: 1px solid #cccccc!important;
    box-shadow: unset !important;
}
.forms__input{
    padding: 10.5px 16px;
    margin-bottom: 10px;
}
.forms__static{
    max-width: 330px;
    width: 100%;
}
.btn{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    width: 100%;
    padding: 13.2px 0;
    cursor: pointer;
    border-radius: 3px;
    border: unset !important;
}
.forms__btn{
    transition: .3s all linear;
    background-color: rgb(18, 214, 97);
    color: rgb(255, 255, 255);
}
.btn:hover{
    box-shadow: 0px 2px 5px 0px rgba(8, 118, 52, 0.35);
}
.forms__btn:hover{
    background-color: #07be51;
}
.forms__fixed{
    position: fixed;
    top: 174px;
    right: 24% ;
    z-index: 102;
    transition: .3s all linear;
}
._hide{
    opacity: 0;
    visibility: hidden;
}
.forms__content{
    position: relative;
    padding: 16.8px 26px;
    width: 310px;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 5px;
        background-color: rgb(250, 250, 250);
        box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.15);
}
.fixed__checkbox{
    font-weight: 700;
}
.forms__fixed{
    max-width: 270px;
}
.forms__close{
    color: #bfbfbf;
    position: absolute;
    top: 0px;
    right: 11px;
    text-decoration: none;
    font-size: 26px;
    transform: rotate(45deg);
}
.forms__content label{
    font-size: 13px;
    display: block;
    font-family: "Roboto", sans-serif;
    margin-bottom: 7px;
    color: rgb(179, 179, 179);
    line-height: 1.2;
}
input{
    display: block;
}
.forgot{
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(62, 106, 255);
    line-height: 1.2;
    margin-bottom: 13px;
    display: inline-block;
    text-decoration: none;
}
.forgot:hover{
    text-decoration: underline;
}
.checkbox{
    display: none;
}
label.checkbox__label{
    display: block;
    padding-top: 2px;
    position: relative;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: rgb(31, 34, 44);
    line-height: 1.2;
    padding-left: 25px; 
    margin-bottom: 15px;
    transition: .3s all linear;
}
label.checkbox__label::before{
    content: "";
    border-radius: 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    transition: .3s all linear;
}
label.checkbox__label:after{
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 7px;
    height: 5px;
    transform: rotate(-45deg);
    border-left: 2px solid #254ed7;
    border-bottom: 2px solid #254ed7;
    transition: .3s all linear;
    opacity: 0;
}
.radio__label::before{
    border-radius: 50%;
}
label.checkbox__label:hover:before{
    border: 1px solid #254ed7;
}
.checkbox:checked + label:before{
    border: 1px solid #254ed7;
}
.checkbox:checked + label:after{
    opacity: 1;
}
label.radio__label::before{
    border-radius: 50%;
}
.checkbox:disabled + label::before{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(229, 229, 229);
    background-color: rgb(247, 247, 247);

}
.checkbox:disabled + label{
    font-family: "Roboto";
    color: rgb(179, 179, 179);
}
label.radio__label:after{
    border: unset;
    border-radius: 50%;
    width: 7.5px;
    height: 7.5px;
    top: 5.5px;
    left: 5px;
    background-color: #254ed7;
}
.items__left{
    display: flex;
    justify-content: space-between;
    max-width: 418px;
    width: 100%;
    align-items: flex-start;
}
.items__block{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.items__right{
    max-width: 476px;
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 3px;
    background-color: rgb(247, 247, 247);  
    padding: 0 20px; 
    padding-bottom: 21px;
}
.items__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.items__values{
    max-width: 355px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 18px;
    justify-content: space-between;
}
.items{
    z-index: 0;
}
.items__name{
    font-family: "Roboto", sans-serif;
    color: rgb(179, 179, 179);
    font-weight: bold;
    line-height: 1.2;
}
.nopt{
    padding-top: 0;
}
.checkboxs__person{
    display: flex;
}
.checkboxs__style{
    position: relative;
    min-height:70px;
    padding-left: 85px;
    margin-left: 15px;
    padding-top: 25px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: rgb(31, 34, 44);
    font-weight: bold;
    transition: .3s all linear;
}
.checkboxs__style:hover{
    color: #3e6aff;
}
.checkboxs__styles{
    display: flex;
    flex-direction: column;
    gap:17px;
}
.checkboxs__style::before{
    content: '';
    position: absolute;
    display: inline-block;
    transition: .3s all linear;
    border: 1px solid transparent;
    top: 0;
    left: -15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.man:before{
    background-image: url('../img/man.png');
    background-repeat: no-repeat;           
}
.girl:before{
    background-image: url('../img/girl.png');
    background-repeat: no-repeat;
}
.checkboxs__person input:checked + .man::before{
    background-image: url('../img/manHover.png');
}
.checkboxs__person input:checked + .girl::before{
    background-image: url('../img/girlHover.png');
}
.checkboxs__person input:checked + label{
    color: #3e6aff;
}
.checkboxs__block{
    display: flex;
    align-items: center;
    max-width: 670px;
    justify-content: space-between;
}
.checkboxs__primary{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.checkboxs__item label{
    margin-left: 71px;
    padding-top: 3px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: rgb(31, 34, 44);  
}
.checkboxs__item label::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 12.5px;
    top: 0;
    left: -71px;
    background-color: rgb(207, 207, 209);
    width: 45px;
    height: 25px;
    border: 1px solid transparent;
    transition: .3s all linear;
}
.checkboxs__item label::after{
    content: '';
    display: block;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: -68px;
    top: 3px;
    width: 21px;
    height: 21px; 
    transition: .3s all linear;
}
.checkboxs__item input:hover + label::before{
    background-color: #3e6aff;
}
.checkboxs__item input:checked + label::before{
    background-color: #3e6aff;
}
.checkboxs__item input:checked + label::after{
    left: -48px;
}
.form__sub{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgb(31, 34, 44);
    font-weight: bold; 
    margin-bottom: 26px;  
}
.form__table{
    max-width: 505px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
button{
    cursor: pointer;
}
.fi{
    display: block;
}
.l{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: rgb(31, 34, 44);
}
.fs{
    margin-top: 0px;
    margin-bottom: 0;
}
.form__checks{
    margin: 0px 0;
    display: flex;
    align-items: center;
    gap: 24px;
}
.form__checks div{
    display: flex;
    padding-top: 13px;
}
.blue__btn{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(62, 106, 255);
    text-decoration: none;
    padding: 12px 37px;
    transition: .3s all ease;
}
.blue__btn:hover{
    background-color: rgb(40, 87, 244);
    box-shadow: 0px 2px 5px 0px rgba(15, 40, 126, 0.35);
}
.m{
    margin-bottom: 13px;
}
textarea{
    min-height:130px !important;
}
.top{
    padding-top: 16px;
    vertical-align: top;
}
.top label{
    font-weight: 700;
}
.form2__table{
    max-width: 686px;
}
#address2{
    padding-bottom: 16px;
}
.form2__label{
    display: block;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: rgb(179, 179, 179);
    margin-bottom: 7px;
}
.form2__table tr{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.form2__table tr:not(:last-child){
    border-bottom: 1px solid #eeeeee;
}
.form2__table tr.nobb{
    padding-bottom: 0;
    border-bottom: 1px solid transparent;
}
.nobd{
    border-bottom: 1px solid transparent;
}
.form2__table tr.nobb + tr{
    padding-top: 0;
}
.form2__table input, .form2__table select{
    min-width: 220px;
    width: 100%;
}
.form2__table tr:not(:first-child){
    padding-top: 30px;
}
.form2__table td{
    max-width: 100%;
    width: 100%;
}
input, select{
    height: 41px;
}
.co{
    position: relative;
}
label.f2m{
    margin-bottom: 0;
}
.co::after{
    display: block;
    position: absolute !important;
    content: " ";
    background-color: #cccccc;
    width: 1px;
    height: 19px;
    top: 34px;
    right: 30px;
}
.grey_btn{
    display: inline-block;
    border: 1px solid rgb(133, 134, 141);
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 3px;
    color: rgb(110, 111, 119);
    font-weight: bold;
    transition: .3s all linear;
      
}
.grey_btn:hover{
    box-shadow: unset;
    color: #fff;
    border-radius: 3px;
    background-color: rgb(133, 134, 141);
}
.a{
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    padding: 13px 26px;
    line-height: 1;
}
.r{
    text-align: right;
}
td.co{
    width: 40%;
}
.pt27{
    margin-top: 20px;
}
.date{
    padding: 0 15px;
    appearance: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}